@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');

/*  CSS RESET */
html, body{padding: 0; margin: 0; width: 100%; height: 100%;}
h1,h2,h3,h4,h5,h6, ul, p{font-size:100%; font-weight: 300; line-height: 1; margin:0; padding: 0;}
li{list-style: none;}
img {vertical-align: top;}
.hidden {display: none;}
/* COMMON ELEMENTS - LAYOUT */
main, main section {padding: 60px 0;}

/* COMMON ELEMENTS - TYPOGRAPHY */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #495662;
    line-height: 1;
    background: #f4f6f8;
}
a {
    color: #495662;
    text-decoration: none;
}

.jumbotron h2 {
    font-size: 52px;
    color: #ff5912;
    font-weight: 700;
    margin-bottom: 30px;
}
.jumbotron h3 {
    color: #3c4751;
    font-size: 18px;
    margin-top: 13px;
    font-weight: 500;
}
.jumbotron p {
    margin-bottom: 60px;
}

.content_title {
    font-size: 36px;
    font-weight: 700;
    color: #34404b;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
.content_title span {color: #ff5912;}
.content_desc {
    text-align: center;
    margin-bottom: 82px;
}

/* COMMON ELEMENTS - LINK, BUTTON, IMAGE, TITLES, SHADOW */
.sprites {
    background: url(../images/sprites.png) no-repeat;
    display: block;
    text-indent: -9999em;
}

/* HEADER */
header {
    position: relative;
    z-index: 1;
}
header .top_navigation {
    border-bottom: 1px solid #e6e8eb;
    padding: 20px 0;
    background: #fff;
}
.contact_list, .social_list {
    display: flex;
}
.contact_list li {
    margin-right: 20px;
    display: flex;
    font-size: 12px;
    line-height: 16px;
}
.social_list li {margin-left: 20px;}
.contact_list li span {margin-right: 10px;}
.envelope {
    width: 18px;
    height: 16px;
    background-position: 0 2px;
}
.phone {
    width: 12px;
    height: 16px;
    background-position: -30px 2px;
}
.social_list li a {
    font-size: 12px;
    line-height: 16px;
    color: #563540;
}

.main_navigation {padding:40px 0; background: #fff; border-bottom: 1px solid #e6e8eb; }
.gnb, .gnb ul {
    display: flex; 
}
.logo {margin-right: 81px;}
.logo a {
    width: 118px;
    height: 39px;
    background: url(../images/shopy_log.png) no-repeat;
    text-indent: -9999em;
    display: block;
}
.gnb ul li {margin-right: 41px;}
.gnb ul li a {line-height: 39px; color: #34404b}
.gnb ul li a:hover {color: #ff5912;}

.shopping_nav {display: flex;}
.shopping_nav li {
    margin-left: 34px;
    display: flex;
    align-items: center;
}
.search_btn {
    width: 18px;
    height: 18px;
    background-position: -60px 0;
}
.mypage {
    width: 21px;
    height: 21px;
    background-position: -90px 0;
}
.cart {
    position: relative;
    width: 24px;
    height: 17px;
    background-position: -120px 0;
}
.shopping_nav .cart::before {
    content: attr(data-cart);
    background: #34404b;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    width: 18px;
    height: 18px;
    border-radius: 50%;
    bottom: calc(100% + 2px);
    font-size: 10px;
    color: #fff;
    text-indent: 0;
    text-align: center;
    line-height: 18px;
}
.shopping_nav .sprites:hover {background-position-y: -30px;}

header form {
    position: absolute;
    left: 0;
    right: 0;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
    background: #fff;
    top: 0;
    z-index: -1;
    transition: 0.5s;
}
header form.active {top:calc(100% + 1px)}
header form input[type="text"]{
    height: 40px;
    border: none;
    border-bottom: 1px solid #34404b;
    width: 540px;
    display: inline-block;
    margin-right: 10px;
    outline: none;
}
header form input[type="text"]:focus {border-bottom-color: #3498db;}
header form input[type="submit"] {
    display: inline-block;
    border: none;
    vertical-align: bottom;
}

/* MAIN SLIDER */
.main_slides {position: relative;}
.main_slides li {
    height: 650px;
    background:no-repeat center top/cover;
}
.main_slides li.slide1{
    background-image: url(../images/feature_slide_01.jpg);
}
.main_slides li .slide_contents {
    display: flex;
    height: 100%;
    align-items: center;
}
.main_slides li .slide_contents .contents {
    margin-left: 115px;
}

.price_order .price {
    color: #34404b;
    font-size: 18px;
    margin-right: 30px;
    font-weight: 500;
}
.price_order .cart {
    display: inline-block;
    margin-right: 6px;
    background-position-y: -30px;
}
.price_order .order_now {
    color: #ff5912;
    font-size: 18px;
}
.main_slides .bx-controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    margin-left: -584px;

}
.main_slides .bx-controls .bx-pager-item a {
    width: 10px;
    height: 17px;
    background: #fff;
    margin-bottom: 9px;
    display: block;
    text-indent: -9999em;
    transition: 0.35s;
}
.main_slides .bx-controls .bx-pager-item a.active{
    height: 36px;
    background: #ff5912;
}


/* NEW ARRIVALS */
.new_arrivals_list .list_content {background: #ffffff; text-align: center;}
.new_arrivals_list .list_content .default {padding: 30px 0;}
.new_arrivals_list .list_content .hover {padding: 30px 0;}
.new_arrivals_list .list_content .default h3{font-size: 18px; color: #34404b; font-weight: 500; margin: 28px 0;}
.new_arrivals_list .list_content .default h4 {font-size: 18px; color: #ff5912; font-weight: 500;}

.new_arrivals_list .list_content .hover p {font-size: 14px; color: #34404b; margin-bottom: 30px;}
.new_arrivals_list .list_content .hover .color {word-spacing: -4px;}
.new_arrivals_list .list_content .hover .color span {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    text-indent: -9999em;
    display: inline-block;
    margin: 0 2.5px;
}
.new_arrivals_list .list_content .hover .color .Red {background-color: red;}
.new_arrivals_list .list_content .hover .color .DarkMagenta {background-color: DarkMagenta;}
.new_arrivals_list .list_content .hover .color .LightSkyBlue {background-color: LightSkyBlue;}
.new_arrivals_list .list_content .hover .color .LightGreen {background-color: LightGreen;}

.new_arrivals_list .list_content .hover hr {width: 170px; margin: 0 auto 30px; border: none; border-bottom: 1px solid #f2f4f7;}

.new_arrivals_list .list_content .hover ul {display: flex; justify-content: center;}
.new_arrivals_list .list_content .hover ul li {margin: 0 15px;}
.share {width: 19px; height: 17px; background-position: -150px 0;}
.addcart {width: 22px; height: 19px; background-position: -180px 0;}
.wishlist {width: 19px; height: 16px; background-position: -210px 0;}
.new_arrivals_list .list_content .hover ul li a:hover {background-position-y: -30px;}
